<div class="header">
    <div class="header-mid">
        <h3 class="header-title"><a  class="header-link" href="/">Les Associés</a></h3>
        <nav class="header-nav">
            <ul class="nav-list">
                <li class="nav-list-elem"><a class="header-link" href="/">Salon</a></li>
                <li class="nav-list-elem"><a class="header-link" href="/list">Marchées</a></li>
                <li class="nav-list-elem"><a class="header-link" href="/cart">Panier</a></li>
            </ul>
        </nav>
    </div>
</div>

<div>
    <router-outlet></router-outlet>
</div>