.list-mag{
    list-style: none;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.list-mag-elem{
    padding: 1em;
    flex:30%;
}

.page-title{
    margin: 2em;
}

.card-title{
    background-color: rgb(230, 230, 230);
    padding: 4px;
    margin: 0;
    padding: 1em;
    font-weight: bolder;
}

.card{
    border: solid 1px rgb(228, 228, 228);
    border-radius: 4px;
    width: 100%;
    font-size: 130%;
    margin: 1em 0em;
}

.card-body{
    padding: 0 1em 1em 1em;
}

.card-foot{
    padding: 0 1em 1em 1em;
}

input:disabled{
    font-size: initial;
    padding: 0;
    color: rgb(0, 0, 0);
    border: none;
    opacity: 100%;
    background-color: none;

}

.rate-img{
    width: 30px;
    margin-left: 10px;
    padding: 4px 10px;
    border-radius: 4px;
    vertical-align: -5px;
    border: solid 1px rgb(228, 228, 228);
    cursor:pointer;
}