.list-mag{
    list-style: none;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.list-mag-elem{
    padding: 1em;
}

.page-title{
    margin: 2em;
}

.card-title{
    background-color: rgb(219, 219, 219);
    padding: 4px;
    margin: 0;
    padding: 1em;
    font-family: bold-font;
}

.card{
    border: solid 1px rgb(228, 228, 228);
    border-radius: 4px;
    width: max-content;
    font-size: 130%;
}

.card-body{
    padding: 0 1em 1em 1em;
}

.card-foot{
    padding: 0 1em 1em 1em;
}

input:disabled{
    font-size: initial;
    padding: 0;
    color: rgb(0, 0, 0);
    border: none;
    opacity: 100%;
    background-color: none;

}

.rate-img{
    width: 30px;
    vertical-align: -3px;
    margin-left: 10px;
}